@tailwind base;
@tailwind components;
@tailwind utilities;

.alien-monster::before {
    background: url('../img/alien-monster.svg') no-repeat center center / contain;
    content: url('../img/alien-monster.svg');
    vertical-align: middle;
    background-size: cover;
    

  }
